@import "tailwindcss";
@plugin "daisyui";


li a.active{
    text-decoration: underline;
    color: rgb(35, 133, 224);
}

.footer_title_heading {
    font-weight:600;
    font-size: large;
    margin-bottom: 20px;
    
}